.login-container
{
    background      : url("@/assets/images/background.jpg") center center fixed no-repeat;
    background-size : cover;
    height          : 100vh;

    .form-header
    {
        margin-bottom : 40px;

        .title-tips
        {
            color         : var(--el-color-white);
            font-size     : 26px;
            font-weight   : 400;
            margin-top    : 29px;
            text-overflow : ellipsis;
            white-space   : nowrap;
            }

        .title
        {
            color       : var(--el-color-white);
            font-size   : 54px;
            font-weight : 500;
            }
        }

    .login-form
    {
        background      : url("@/assets/images/login_form.png");
        background-size : 100% 100%;
        margin          : calc(50vh - 277.5px) 5vw 5vw;
        max-width       : 100%;
        overflow        : hidden;
        padding         : 4.5vh;
        position        : relative;

        .login-btn
        {
            border     : 0;
            display    : inherit;
            height     : 48px;
            margin-top : 5px;
            width      : 100%;

            &:hover
            {
                opacity : 0.9;
                }
            }
        }

    :deep(.el-form)
    {
        .el-form-item
        {
            border        : 1px solid transparent;
            border-radius : 2px;
            color         : #454545;
            margin        : 20px 0;
            padding-right : 0;

            &__content
            {
                line-height : $base-input-height;
                min-height  : $base-input-height;
                }

            &__error
            {
                color       : $base-color-red;
                font-size   : $base-font-size-small;
                left        : 18px;
                line-height : 18px;
                position    : absolute;
                top         : 100%;
                }
            }

        .el-input
        {
            box-sizing : border-box;

            input
            {
                border      : 0;
                caret-color : $base-font-color;
                color       : $base-font-color;
                font-size   : $base-font-size-default;
                height      : 48px;
                line-height : 58px;
                }
            }
        }
    }
