<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovo307000.lease.web.admin.mapper.SystemUserMapper">

    <select id="pageSystemUser" resultType="com.ovo307000.lease.web.admin.vo.system.user.SystemUserItemVo">
        select systemUser.id,
        systemUser.username,
        systemUser.password,
        systemUser.name,
        systemUser.type,
        systemUser.phone,
        systemUser.avatar_url,
        systemUser.additional_info,
        systemUser.post_id,
        systemUser.status,
        systemPost.name as post_name
        from system_user as systemUser
        left join system_post as systemPost
        on systemPost.is_deleted = 0 and systemUser.post_id = systemPost.id
        <where>
            systemUser.is_deleted = 0

            <if test="queryVo.name != null and queryVo.name != ''">
                and systemUser.name like concat('%', #{queryVo.name}, '%')
            </if>

            <if test="queryVo.phone != null and queryVo.phone != ''">
                and systemUser.phone like concat('%', #{queryVo.phone}, '%')
            </if>
        </where>

    </select>
    <select id="selectByUserName" resultType="com.ovo307000.lease.module.entity.SystemUser">
        select * from system_user where username = #{username} and is_deleted = 0
    </select>
</mapper>
